$dark-blue: hsl(219, 43%, 16%);
$grey: hsl(218, 20%, 36%);
$cream: hsl(30, 33%, 93%);
$cream-white: hsl(30, 29%, 97%);

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
}

.header,
.main__hero {
  margin: 0 16px;
}

.header {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 81px;
    height: 32px;
  }

  &__button {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: -0.14px;
    color: $dark-blue;
    border: 1px solid $dark-blue;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 11px 16px 11px 15px;
  }
}

.main {
  &__hero {
    margin-top: 56px;
    background-image: url(../assets/pattern-curved-line-1.svg);
    background-repeat: no-repeat;
    background-size: 151px 19px;
    background-position: top 0px right 20%;
  }

  &__heading {
    font-weight: 400;
    font-size: 2.375rem;
    line-height: 2.75rem;
    letter-spacing: -0.527778px;
    color: $dark-blue;
    margin: 0;
    padding-top: 27px;

    &--dark {
      font-weight: 700;
    }
  }

  &__para {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.0888889px;
    color: $grey;
    margin: 0;
    margin-top: 32px;
  }

  &__button {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: -0.18px;
    color: $cream-white;
    background: $dark-blue;
    border-radius: 6px;
    padding: 15px 31px 14px 32px;
    border: none;
    margin-top: 32px;
  }

  &__image {
    margin-top: 55px;
  }

  &__data {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__point {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__number {
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.5rem;
        text-align: center;
        color: $dark-blue;
        margin: 0;
      }

      &__text {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.625rem;
        text-align: center;
        letter-spacing: 2.5px;
        color: $grey;
      }
    }
  }

  &__quote {
    background: $dark-blue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 237px;

    &__image {
      margin-top: -181px;
    }

    &__content {
      margin: 0 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 0 64px;
    }

    &__heading {
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 3rem;
      text-align: center;
      letter-spacing: -0.416667px;
      color: $cream-white;
      margin: 0;
      margin-top: 37px;

      &--dark {
        font-weight: 700;
      }
    }

    &__para {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.09px;
      color: $cream;
      margin: 0;
      margin-top: 40px;
    }

    &__name {
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: -0.18px;
      color: $cream-white;
      margin: 0;
      margin-top: 40px;
      text-transform: uppercase;
    }

    &__position {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.625rem;
      text-align: center;
      letter-spacing: 2.5px;
      color: $cream;
      text-transform: uppercase;
    }
  }
}

.footer {
  background: $cream;
  height: 420px;
  margin-top: -134px;
  width: 100%;
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
  }

  &__text {
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.0833333px;

    color: $grey;
  }

  &__socials {
    display: flex;
    gap: 28px;
  }
}

@media (min-width: 600px) {
  .header,
  .main {
    margin: 0 39px 0 40px;
  }

  .header {
    padding-top: 40px;
    &__button {
      font-size: 1rem;
      line-height: 2rem;
      letter-spacing: -0.16px;
      padding: 11px 23px 11px 22px;
    }
  }

  .main {
    &__hero {
      position: relative;
      margin-top: 80px;
      background-size: 231px 29px;
      background-position: top 42px right 200px;
    }

    &__image {
      margin-top: 0;
      position: absolute;
      top: 0;
      right: 0;
      height: 482px;
      width: 281px;
      z-index: -1;
    }

    &__heading {
      width: 80%;
      font-size: 3.5rem;
      line-height: 4rem;
      letter-spacing: -0.777778px;
      padding-top: 88px;
    }

    &__para {
      margin-top: 40px;
      width: 53.4%;
    }

    &__button {
      margin-top: 40px;
      padding: 15px 31.5px 14px 32.5px;
    }

    &__data {
      margin-top: 128px;
      flex-direction: row;
      justify-content: space-around;
    }

    &__quote {
      margin-top: 273px;

      &__content {
        margin: 0 58px;
      }
    }
  }

  .footer {
    height: 640px;
    margin-top: -464px;
    &__content {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 39px 0 40px;
      margin-top: 536px;
    }
  }
}

@media (min-width: 1200px) {
  .header,
  .main {
    margin: 0 166px 0 164px;
  }

  .header {
    padding-top: 50px;

    &__button {
      padding: 11px 23.5px 11px 23px;

      &:hover {
        cursor: pointer;
        color: $cream-white;
        background: $dark-blue;
      }
    }
  }

  .main {
    &__hero {
      margin-top: 67px;
      display: flex;
      background-size: 287px 36px;
      background-position: top 45px right 500px;
    }

    &__image {
      height: 600px;
      width: 350px;
      right: 250px;
    }

    &__heading {
      padding-top: 103px;
      width: 65.7%;
      font-size: 4.5rem;
      line-height: 4.875rem;
      letter-spacing: -1px;
    }

    &__para {
      width: 36.2%;
      font-size: 1.125rem;
      line-height: 2rem;
      letter-spacing: 0.1px;
    }

    &__button {
      margin-top: 52px;

      &:hover {
        cursor: pointer;
        background: linear-gradient(
          135deg,
          #a060ff 0%,
          #cb30e3 49.21%,
          #ffa84e 100%
        );
      }
    }

    &__data {
      margin-top: 0;
      padding-top: 113px;
      flex-direction: column;
      justify-content: space-between;
      gap: 63px;

      &__point {
        align-items: start;
      }
    }

    &__quote {
      margin-top: 290px;
      flex-direction: row;
      position: relative;
      align-items: flex-end;

      &__image {
        margin-top: -48.5px;
        margin-left: 121.5px;
        margin-bottom: -4px;
      }

      &__curve {
        position: absolute;
        top: 161px;
        right: 527px;
      }

      &__content {
        margin-right: 125px;
        margin-left: 152px;
        align-items: flex-start;
        padding: 88px 0;
      }

      &__heading {
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: -0.5px;
        margin: 0;
      }

      &__para {
        font-size: 1.25rem;
        line-height: 2.188rem;
        letter-spacing: 0.1px;
        text-align: start;
      }
    }
  }

  .footer {
    height: 464px;
    margin-top: -104px;

    &__content {
      margin-top: 360px;
      padding: 0 167px 0 164px;
    }

    &__social:hover {
      cursor: pointer;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }
}
