html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
}

.header,
.main__hero {
  margin: 0 16px;
}

.header {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 81px;
  height: 32px;
}
.header__button {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.14px;
  color: #172339;
  border: 1px solid #172339;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 11px 16px 11px 15px;
}

.main__hero {
  margin-top: 56px;
  background-image: url(../assets/pattern-curved-line-1.svg);
  background-repeat: no-repeat;
  background-size: 151px 19px;
  background-position: top 0px right 20%;
}
.main__heading {
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -0.527778px;
  color: #172339;
  margin: 0;
  padding-top: 27px;
}
.main__heading--dark {
  font-weight: 700;
}
.main__para {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.0888889px;
  color: #49566d;
  margin: 0;
  margin-top: 32px;
}
.main__button {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  color: #faf8f6;
  background: #172339;
  border-radius: 6px;
  padding: 15px 31px 14px 32px;
  border: none;
  margin-top: 32px;
}
.main__image {
  margin-top: 55px;
}
.main__data {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__data__point {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__data__point__number {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #172339;
  margin: 0;
}
.main__data__point__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.5px;
  color: #49566d;
}
.main__quote {
  background: #172339;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 237px;
}
.main__quote__image {
  margin-top: -181px;
}
.main__quote__content {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 64px;
}
.main__quote__heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.416667px;
  color: #faf8f6;
  margin: 0;
  margin-top: 37px;
}
.main__quote__heading--dark {
  font-weight: 700;
}
.main__quote__para {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.09px;
  color: #f3ede7;
  margin: 0;
  margin-top: 40px;
}
.main__quote__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.18px;
  color: #faf8f6;
  margin: 0;
  margin-top: 40px;
  text-transform: uppercase;
}
.main__quote__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.5px;
  color: #f3ede7;
  text-transform: uppercase;
}

.footer {
  background: #f3ede7;
  height: 420px;
  margin-top: -134px;
  width: 100%;
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__content {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
}
.footer__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.0833333px;
  color: #49566d;
}
.footer__socials {
  display: flex;
  gap: 28px;
}

@media (min-width: 600px) {
  .header,
  .main {
    margin: 0 39px 0 40px;
  }
  .header {
    padding-top: 40px;
  }
  .header__button {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    padding: 11px 23px 11px 22px;
  }
  .main__hero {
    position: relative;
    margin-top: 80px;
    background-size: 231px 29px;
    background-position: top 42px right 200px;
  }
  .main__image {
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 482px;
    width: 281px;
    z-index: -1;
  }
  .main__heading {
    width: 80%;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.777778px;
    padding-top: 88px;
  }
  .main__para {
    margin-top: 40px;
    width: 53.4%;
  }
  .main__button {
    margin-top: 40px;
    padding: 15px 31.5px 14px 32.5px;
  }
  .main__data {
    margin-top: 128px;
    flex-direction: row;
    justify-content: space-around;
  }
  .main__quote {
    margin-top: 273px;
  }
  .main__quote__content {
    margin: 0 58px;
  }
  .footer {
    height: 640px;
    margin-top: -464px;
  }
  .footer__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 39px 0 40px;
    margin-top: 536px;
  }
}/*# sourceMappingURL=styles.css.map */